{% extends '@Eckinox/base.html.twig' %}
{% trans_default_domain 'application' %}

{% block header %}
    <h2>{{ title }}</h2>
{% endblock %}

{% block content %}

    <form name="import" method="post" ajax-action="{{ path('ajax_get_json_from_excel') }}" ajax-type="json" id="upload-form">
        <div class="block-wrapper">
            <div class="block block-full file-selector">
                <div class="fields">
                    <div class="field-wrapper import-file half">
                        <label for="import-file">{% trans %}import.fields.file{% endtrans %}</label>
                        <input type="file" id="import-file" name="file" class="import-file" required />
                    </div>

                    <div class="field-wrapper submit">
                        <button class="button" type="submit">{% trans %}import.fields.load_file{% endtrans %} &nbsp;<i class="fa fa-upload" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

            <div class="block block-full change-file hide">
                <div class="fields">
                    <div class="field-wrapper half">
                        <button class="button red import-reset" type="button">{% trans %}import.fields.change_file{% endtrans %} &nbsp;<i class="fa fa-undo" aria-hidden="true"></i></button>
                    </div>
                    <div class="field-wrapper half text-right">
                        <button type="submit" form="import-form" class="button import">{% trans %}import.fields.import{% endtrans %} &nbsp;<i class="fa fa-file-import" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="block-wrapper import-processing hide">
        <div class="block block-full">
            <form class="import-preview hide" id="import-form" method="POST" action="{{ path('import_process', { importType: importType }) }}">
                <input type="hidden" name="data">

                <div class="fields">
                    <div class="field-wrapper half select-sheet">
                        <label for="worksheet">{% trans %}import.fields.worksheet{% endtrans %}</label>
                        <select id="worksheet" name="worksheet" class="worksheet"></select>
                    </div>
                    <div class="field-wrapper half starting-line">
                        <label for="starting-line">{% trans %}import.fields.startingLine{% endtrans %}</label>
                        <input type="number" id="starting-line" name="starting_line" class="starting-line" value="1" min="1" max="1">
                    </div>
                </div>
                <div class="fields custom-fields">

                </div>
                <div class="fields assignations">
                    <select class="assignation-select-template hide">
                        <option value="">{% trans %}import.excel.assignations.select{% endtrans %}</option>
                        <optgroup label="{{ (entity.transKey ~ '.title') | trans }}">
                            {% for property in entity.getClassProperties() %}
                                {% if (settings.properties[property].disabled is not defined or not settings.properties[property].disabled) and
                                      (settings.properties[property].relation is not defined or not settings.properties[property].relation) and
                                      settings.properties[property].value is not defined and
                                      property not in ["createdAt", "updatedAt"] %}
                                    <option value="{{ property }}">{{ (entity.transKey ~ '.fields.' ~ property) | trans }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                    <div class="field-wrapper">
                        <label>{% trans %}import.fields.assignations{% endtrans %}</label>
                        <div class="columns"></div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field-wrapper full preview-wrapper">
                        <table class="excel-preview partial"></table>
                    </div>

                    <div class="field-wrapper button-container">
                        <button type="submit" class="button import">{% trans %}import.fields.import{% endtrans %} &nbsp;<i class="fa fa-file-import" aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/import.js', 'eckinox') }}"></script>
    <script>
        let flow = ImportFlow.init({{ settings | json_encode() | raw }});
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/import.css', 'eckinox') }}" />
{% endblock %}
