{% extends '@Eckinox/base.html.twig' %}
{% trans_default_domain 'application' %}

{% block header %}
    <h2>
        {{ title }}
    </h2>
{% endblock %}

{% block content %}
    <div class="user-form">

        {{ form_start(form, { 'attr' : { 'autocomplete' : 'off' } }) }}

            <div class="block-wrapper">

                <div class="block block-left">
                    <div class="fields">{{ form_widget(form.left) }}</div>
                </div>
                <div class="block block-right">
                    <div class="fields">
                        {{ form_widget(form.right) }}
                    </div>
                </div>

            </div>
            <input type="submit" class="button" value="{% trans %}general.buttons.save{% endtrans %}" />
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Displays privileges that are included in the selected privilege group at all times
        const privilegeGroups = {{ data('privileges.groups') | json_encode | raw }};
        const privilegeGroupSelect = document.querySelector('select.privilegesGroup');
        const privilegeCheckboxes = document.querySelectorAll('.field-wrapper.privileges input[type="checkbox"]');

        if (privilegeGroupSelect && privilegeCheckboxes.length) {
            // On group change, the included privileges are checked and "locked in"
            privilegeGroupSelect.addEventListener('change', function() {
                const selectedGroup = privilegeGroupSelect.value;
                const includedPrivileges = typeof privilegeGroups[selectedGroup] != 'undefined' ? privilegeGroups[selectedGroup] : [];

                for (const checkbox of privilegeCheckboxes) {
                    const isIncluded = includedPrivileges.indexOf(checkbox.value) != -1;
                    checkbox.checked = isIncluded;
                    checkbox.disabled = isIncluded;
                    checkbox.nextElementSibling.classList.toggle('locked', isIncluded);
                }
            });

            // Trigger the checkbox checking & locking on page load
            privilegeGroupSelect.dispatchEvent(new Event('change'));
        }
    </script>
{% endblock %}
