{% extends '@Eckinox/base.html.twig' %}
{% trans_default_domain 'application' %}

{% block header %}
    <h2>
        {{ title }}
    </h2>
{% endblock %}

{% block content %}
    {% embed '@Eckinox/html/list.html.twig' with { rows: users } %}
        {% trans_default_domain 'application' %}

        {% block list_actions %}
            <a class="button" href="{{ path('create_user') }}">{% trans %}user.actions.createUser{% endtrans %}</a>
            <div class="actions-button">
                <label for="actions_checkbox" class="button actions">{% trans %}general.buttons.actions{% endtrans %}<i class="fa fa-caret-down" aria-hidden="true"></i></label>
                <input type="checkbox" id="actions_checkbox" name="actions_checkbox" />
                <ul class="dropdown">
                    <li><button type="submit" name="action" value="activate"><i class="fa fa-check-circle" aria-hidden="true"></i>{% trans %}general.actions.activateSelection{% endtrans %}</button></li>
                    <li class="separator"><button type="submit" name="action" value="deactivate"><i class="fa fa-check-circle" aria-hidden="true"></i>{% trans %}general.actions.deactivateSelection{% endtrans %}</button></li>
                    <li><button class="red" type="submit" name="action" value="delete"><i class="far fa-trash-alt" aria-hidden="true"></i>{% trans %}general.actions.deleteSelection{% endtrans %}</button></li>
                </ul>
            </div>
        {% endblock %}

        {% block before_list %}
            <div class="legend-container">
                <label>{{ 'listing.legend'|trans([], 'general') }}</label>
                <ul class="legend">
                    {% for key, value in status %}
                        <li>
                            {{ key|icon|raw }} {{ value|trans }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock %}

{% block javascripts %}{% endblock %}
