{% extends '@Eckinox/base.html.twig' %}
{% trans_default_domain 'application' %}

{% block header %}
    <h2>
        {{ title }}
    </h2>
{% endblock %}

{% block content %}

    <form name="users-list-form" action="{{ path('index_user', {'page': currentPage}) }}" method="post"
          ei-widget-ajax
          ei-widget-ajax-refresh="form .rows, .scrollable .pagination">
        <div class="action-nav">
            <a class="button" href="{{ path('create_user') }}">{% trans %}user.actions.createUser{% endtrans %}</a>
            <div class="actions-button">
                <label for="actions_checkbox" class="button actions">{% trans %}general.buttons.actions{% endtrans %}<i class="fa fa-caret-down" aria-hidden="true"></i></label>
                <input type="checkbox" id="actions_checkbox" name="actions_checkbox" />
                <ul class="dropdown">
                    <li><button type="submit" name="action" value="activate"><i class="fa fa-check-circle" aria-hidden="true"></i>{% trans %}general.actions.activateSelection{% endtrans %}</button></li>
                    <li class="separator"><button type="submit" name="action" value="deactivate"><i class="fa fa-check-circle" aria-hidden="true"></i>{% trans %}general.actions.deactivateSelection{% endtrans %}</button></li>
                    <li><button class="red" type="submit" name="action" value="delete"><i class="far fa-trash-alt" aria-hidden="true"></i>{% trans %}general.actions.deleteSelection{% endtrans %}</button></li>
                </ul>
            </div>
        </div>

        <div class="legend-container">
            <label>{{ 'listing.legend'|trans([], 'general') }}</label>
            <ul class="legend">
                {% for key, value in status %}
                    <li>
                        {{ key|icon|raw }} {{ value|trans }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="users-list list" ei-widget-listing="application-user" ei-widget-search>
            <div class="row head">
                <div class="column checkbox">
                    <input type="checkbox" id="user_select_all" name="user_select_all" value="" />
                    <div class="check"></div>
                </div>

                {% for field in listing.fields %}
                    <div class="column {{ field.name }} {{ field.class }}">{{ (listing.module ~ '.fields.' ~ field.name)|trans }}</div>
                {% endfor %}

                <div class="column more">
                    <div class="actions-button">
                        <label for="more_checkbox"><i class="far fa-ellipsis-v"></i></label>
                        <input type="checkbox" id="more_checkbox" name="more_checkbox">
                        <ul class="dropdown">
                            <li>
                                <ul class="fields">
                                    {% for field in listing.fields %}
                                        <li>
                                            <input type="checkbox" id="field_{{ field.name }}" name="field_{{ field.name }}" value="{{ field.name }}" {% if field.visible %}checked="checked"{% endif %} />
                                            <label for="field_{{ field.name }}">{{ (listing.module ~ '.fields.' ~ field.name)|trans }}</label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% include '@Eckinox/html/widget/search.html.twig' %}

            <div class="rows">
                {% for user in users %}
                    <div class="row item-{{ user.id }}">
                        <div class="column checkbox"><input type="checkbox" name="ids[]" value="{{ user.id }}" /><div class="check"></div></div>

                        <div class="column status">{{ user.status|icon|raw }}</div>
                        <div class="column name link">{{ user.fullName }}</div>
                        <div class="column email link">{{ user.email }}</div>
                        <div class="column function link">{{ user.function }}</div>
                        <div class="column department link">{{ user.department }}</div>
                        <div class="column homePhone link">{{ user.homePhone }}</div>
                        <div class="column mobilePhone link">{{ user.mobilePhone }}</div>
                        <div class="column createdAt date link">{{ user.createdAt|date("Y-m-d H:i:s") }}</div>
                        <div class="column updatedAt date link">{{ user.updatedAt|date("Y-m-d H:i:s") }}</div>
                        <a class="column edit-link" href="{{ path('edit_user', {'user_id': user.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </div>
                {% endfor %}

                {% if users|length == 0 %}
                    <div class="empty">
                        {% trans %}user.emptyList{% endtrans %}
                    </div>
                {% endif %}
            </div>

            <div class="add-row">
                <a href="{{ path('create_user') }}">
                    <i class="fas fa-plus-circle"></i>
                    {% trans %}user.actions.createUser{% endtrans %}
                </a>
            </div>
        </div>
    </form>

    {% include '@Eckinox/html/pagination.html.twig' with {'view': 'index_user', 'nbPages': nbPages, 'currentPage': currentPage} %}

{% endblock %}

{% block javascripts %}

{% endblock %}
