{% trans_default_domain 'general' %}

{% block main_left_nav %}
    <nav id="main-navigation" class="{{ data("navigation.showTitles") ? "show-titles" : "" }}">
        {% for item in data("navigation.items")|sortByField('order') %}
            {% if item.privilege is not defined or (item.privilege is defined and app.user.hasPrivilege(item.privilege)) %}
                <div class="link-item" {{ (item.panel is defined ? 'data-panel="' ~ item.panel ~ '"' : '') | raw }}>
                    <a class="link-detail" href="{{ item.route is defined ? path(item.route) : '#' }}">
                        <i class="{{ item.icon is defined ? item.icon : '' }}"></i>
                        <div class="main-title">
                            {% if item.title is defined %}
                                {{ item.title | trans }}
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </nav>
{% endblock %}

{% block main_left_subnav %}
    <nav id="main-subnavigation">
        {% for item in data("navigation.items") %}
            {% if (item.privilege is not defined or (item.privilege is defined and app.user.hasPrivilege(item.privilege))) and item.panel is defined %}
                {% set panel = data("navigation.panel." ~ item.panel) %}
                {% if panel %}
                    <div class="panel" data-panel="{{ item.panel }}">
                        {% if panel.title is defined %}
                            <div class="panel-title">{{ panel.title | trans }}</div>
                        {% endif %}


                        {% if panel.sections is defined %}
                            {% for section in panel.sections %}
                                {% if section.privilege is not defined or (section.privilege is defined and app.user.hasPrivilege(section.privilege)) %}
                                    {% if section.title is defined %}
                                        <div class="panel-subtitle">{{ section.title | trans }}</div>
                                    {% endif %}

                                    {% if section.items is defined %}
                                        <div class="links">
                                        {% for subitem in section.items %}
                                            {% if subitem.privilege is not defined or (subitem.privilege is defined and app.user.hasPrivilege(subitem.privilege)) %}
                                                <a class="link-detail" href="{{ subitem.route is defined ? path(subitem.route) : '#' }}">
                                                    {% if subitem.title is defined %}
                                                        {{ subitem.title | trans }}
                                                    {% endif %}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </nav>
{% endblock %}
