{% block form_widget_compound %}
    {% if form is rootform %}
        {{ form_errors(form) }}
    {% endif %}
    {{ block('form_rows') }}
    {{ form_rest(form) }}
{% endblock form_widget_compound %}

{% block form_row %}
        
        {% set class = '' %}
        {% if attr.class is defined %}
            {% set class = attr.class %}
        {% endif %}
        
        <div class="field-wrapper {{ class }}">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
{% endblock form_row %}

{% block choice_widget_expanded %}

        {% if form.vars.choices|first is not iterable %}
            <div class="group">
        {% endif %}

        {% for name, choices in form.vars.choices %}
            {% if choices is iterable  %}
                <div class="group">
                    <div class="group-title">
                        {{ choice_translation_domain is same as(false) ? name : name|trans({}, choice_translation_domain) }}
                    </div>
                    
                    <div class="choices">
                        <ul>
                        {% for key,choice in choices %}
                            <li>
                                {{ form_widget(form[key]) }}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}

                    
                {{ form_widget(form[name]) }}
        

            {% endif %}
        {% endfor %}
        
        {% if form.vars.choices|first is not iterable %}
            </div>
        {% endif %}

{% endblock choice_widget_expanded %}

{%- block checkbox_widget -%}
    <div class="choice">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ form_label(form) }}
    </div>
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    <div class="choice">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ form_label(form) }}
    </div>
{%- endblock radio_widget -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}
