<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{% if title is defined %}{{ title }}{% endif %}</title>
<link rel="stylesheet" href="{{ asset('css/fonts.css', 'eckinox') }}" />
<link rel="stylesheet" href="{{ asset('css/fontawesome/css/all.css', 'eckinox') }}" />
<link rel="stylesheet" href="{{ asset('css/main.css', 'eckinox') }}" />
<link rel="stylesheet" href="{{ asset('css/general.css', 'eckinox') }}" />
<link rel="stylesheet" href="{{ asset('css/application.css', 'eckinox') }}" />
<link rel="stylesheet" href="{{ asset('css/widget/flash.css', 'eckinox') }}" />
<link rel="stylesheet" href="{{ asset('css/widget/tabs.css', 'eckinox') }}" />
<link rel="stylesheet" href="{{ asset('css/widget/notices.css', 'eckinox') }}" />

{% set css_vars = data('assets.theme.css_vars') %}

{% if css_vars %}
    <style>
        :root {
            {% for var, value in css_vars %}
                --{{ var }}: {{ value }};
            {% endfor %}
        }
    </style>
{% endif %}

{% for script in data("assets.head.js") %}
    <script src="{{ asset(script) }}"></script>
{% endfor %}

{% for stylesheet in data("assets.head.css") %}
    <link rel="stylesheet" href="{{ asset(stylesheet) }}">
{% endfor %}

{% set favicon_url = data('assets.theme.favicon') %}
{% if favicon_url %}
    <link href="{{ asset(favicon_url) }}" rel="shortcut icon" type="image/x-icon">
{% endif %}
