<div class="pagination" unselectable>
    
    {% if nbPages == 0 %}
    
        <div class="page page-1 current">
            <a href="{{ path(view, {'page': 1}) }}"><span>{{ 1 }}</span></a>
        </div>
    
    {% else %}
        
        {% if currentPage != 1 %}
            {% set page = currentPage - 1 %}
            <div class="page prev">
                <a href="{{ path(view, {'page': page}) }}"><span>&lt;</span></a>
            </div>
        {% endif %}
        
        {% for i in 1..nbPages %}
            <div class="page page-{{ i }} {{ i == currentPage ? 'current' : '' }}">
                <a href="{{ path(view, {'page': i}) }}"><span>{{ i }}</span></a>
            </div>
        {% endfor %}
        
        {% if currentPage != nbPages %}
            {% set page = currentPage + 1 %}
            <div class="page next">
                <a href="{{ path(view, {'page': page}) }}"><span>&gt;</span></a>
            </div>
        {% endif %}
    
    {% endif %}
    
</div>