{% block jsonrow %}
    <div class="json-row cf">
        <div class="json-key field-wrapper">
            <input type="{{ meta.input_type(value) }}" name="{{name}}[{{key}}][_keyname_]" value="{{key}}" {{ readonly ? 'readonly="readonly"' : '' }}>
        </div>

        <div class="json-value field-wrapper">
        {% if value is not iterable %}
            <input type="{{ meta.input_type(value) }}" name="{{name}}[{{key}}][_value_]" value="{{value}}" {{ readonly ? 'readonly="readonly"' : '' }}>
        {% else %}
            {% set name = name ~ "[" ~ key ~ "]" %}
            {% set parent_key = ( parent_key ? parent_key ~ "." : "" ) ~ key %}

            {% for key, value in value %}
                {{ meta.get_type(parent_key, key) }}
                {% include '@Eckinox/application/data/row.html.twig' with { "key" : key, "parent_key" : parent_key, "value" : value, "name" : name } %}
            {% endfor %}
        {% endif %}
        </div>

        {% if value is iterable %}
        <a class="json-add button small" href="#">+</a>
        {% endif %}
    </div>
{% endblock %}
